* {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body {
  background-color: #FAFBFD !important;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.navContainer {
  width: 100%;
  margin: 0 auto;
  height: 72px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #ffffff;
}

.navigation {
  width: 100%;
  position: fixed;
  z-index: 10;
  background: #fff;
}

.navBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  margin-left: 32px;
  margin-right: 64px;
}

.nav a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  letter-spacing: 0.05em;
  margin-right: 32px;
  text-decoration: none;
}

.nav a:hover {
  font-weight: 600;
  margin-right: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.navHireContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navSocial {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navSocial__item--facebook {
  margin-right: 16px;
  width: 32px;
  height: 32px;
  background-image: url("../image/facebook_logo.svg");
}

.navSocial__item--instagram {
  margin-right: 24px;
  width: 32px;
  height: 32px;
  background-image: url("../image/instagram_logo.svg");
}

.navHireBtn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  padding: 28px 60px;
  background-color: #000;
  -webkit-transition: easy-out, easy-in, 200ms;
  transition: easy-out, easy-in, 200ms;
}

.navHireBtn:hover {
  background-color: #444;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.mainContainer {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 144px;
}

.introText {
  max-width: 725px;
}

.introText__name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: normal;
  font-size: 32px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.introText__name span {
  color: #e8e8ee;
}

.introText__copy {
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.05em;
}

.photoContainer {
  position: absolute;
  right: -50%;
  top: 72px;
}

.linkCube--dark {
  width: 100%;
  max-width: 172px;
  height: 100%;
  max-height: 172px;
  background-color: #000;
  padding: 24px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: 172px;
  left: -172px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.linkCube--dark:hover{
  text-decoration: none;
  color: #fff;
}
.linkCube--dark:hover .arrow_dark{
  transform: translateX(8px);
}
.linkCube--light {
  width: 100%;
  max-width: 172px;
  height: 100%;
  max-height: 172px;
  background-color: #FFE9C3;
  padding: 24px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #000;
  position: absolute;
  bottom: 0px;
  left: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.linkCube--light:hover{
  text-decoration: none;
  color: #000;
}
.linkCube--light:hover .arrow_light{
  transform: translateX(8px);
}
.arrow_dark {
  margin-right: 24px;
  width: 32px;
  height: 32px;
  background-image: url("../image/arrow_white.svg");
  margin-top: 64px;
  transition: transform .2s;
  transform: translateX(0px);
}

.arrow_light {
  margin-right: 24px;
  width: 32px;
  height: 32px;
  background-image: url("../image/arrow.svg");
  margin-top: 64px;
  transition: transform .2s;
  transform: translateX(0px);
}

.servicesContainer {
  width: 100%;
  max-width: 610px;
  margin-top: 188px;
}

.serviceTitle {
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  line-height: 32px;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #BDBDBD;
  margin-bottom: 32px;
}

.servicesList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 605px;
}

.serviceItem {
  width: 100%;
  max-width: 250px;
  height: 136px;
  background-color: #fff;
  margin-bottom: 30px;
  margin-right: 30px;
  padding: 20px;
  position: relative;
  -webkit-transition: easy-out, easy-in, 300ms;
  transition: easy-out, easy-in, 300ms;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.serviceItem:hover {
  background-color: #FFE9C3;
  cursor: pointer;
}

.itemCaption {
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  line-height: 21px;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  position: absolute;
  bottom: 20px;
}

.itemIcon__camera {
  margin-right: 24px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50%,50%;
  background-image: url("../image/camera.svg");
}

.itemIcon__camera_edit {
  margin-right: 24px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50%,50%;
  background-image: url("../image/camera_edit.svg");
}

.itemIcon__videocamera {
  margin-right: 24px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50%,50%;
  background-image: url("../image/VideoCamera.svg");
}

.itemIcon__videocamera_edit {
  margin-right: 24px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50%,50%;
  background-image: url("../image/VideiCamera_edit.svg");
}

.itemIcon__compas {
  margin-right: 24px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50%,50%;
  background-image: url("../image/compas.svg");
}

.feedbackContainer {
  width: 600px;
  height: 360px;
  background-color: #000;
  padding-top: 32px;
  padding-left: 32px;
  position: absolute;
  right: 0px;
  top: 945px;
  overflow: hidden;
}

.feedbackTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 32px;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #BDBDBD;
  margin-bottom: 32px;
}

.feedbackContent {
  max-width: 535px;
  position: relative;
}

.personBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.personPic {
  width: 56px;
  height: 56px;
  background: #e8e8e8;
  margin-right: 16px;
}

.personInfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.personName {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 4px;
}

.personCaption {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #D8D8D8;
}

.feedbackCopy {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-top: 24px;
}

.carouselControls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  top: -8px;
  right: 50px;
  width: 80px;
  height: 50px;
}

.carousel-control-prev-icon {
  width: 32px !important;
  height: 32px !important;
  background-image: url("../image/arrow_prev.svg") !important;
}

.carousel-control-next-icon {
  width: 32px !important;
  height: 32px !important;
  background-image: url("../image/arrow_next.svg") !important;
}

.carousel-control-next {
  width: 32px !important;
}

.carousel-control-prev {
  width: 32px !important;
}

.carousel-indicators {
  bottom: -64px !important;
  left: -430px !important;
}

.gallerySectionBg {
  width: 100%;
  background-color: #fff;
}

.gallerySection {
  width: 100%;
  max-width: 1170px;
  margin: 128px auto 0;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #fff;
}

.galleryContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.galleryTitle {
  font-family: 'Montserrat' ,sans-serif;
  font-weight: 700;
  line-height: 32px;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #BDBDBD;
  margin-bottom: 32px;
  margin-left: 15px;
}

.galleryItem {
  max-width: 370px;
  width: 100%;
  height: 440px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: easy-out, easy-in, 200ms;
  transition: easy-out, easy-in, 200ms;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.galleryItem:hover {
  background-color: #FAFBFD;
  cursor: pointer;
}

.linkRectangle--light {
  max-width: 370px;
  width: 100%;
  height: 240px;
  background-color: #FFE9C3;
  padding: 24px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.linkRectangle--light > .arrow_light {
  margin-top: 144px;
}

.itemPic {
  width: 100%;
  height: 240px;
  background-color: #e8e8e8;
  background-image: url();
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

.itemContent {
  padding: 24px;
}

.itemTag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.tagItem,
.tagSeperator {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #bdbdbd;
  margin-right: 8px;
}

.itemTitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  font-size: 28px;
  letter-spacing: 0.04em;
  color: #000000;
  padding-top: 16px;
  padding-bottom: 16px;
}

.itemDiscr {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #212121;
}

footer {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.footerContent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footerTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 32px;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #BDBDBD;
  margin-bottom: 32px;
  margin-top: 56px;
}

.footerImageContainer {
  position: relative;
  left: 0px;
  width: 500px;
  height: 344px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  background-image: url("../image/footer_image.png");
}

.footerImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  background-image: url("../image/footer_image.png");
}

.socialCube--dark {
  width: 172px;
  height: 172px;
  background-color: #000;
  padding: 24px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 172px;
  right: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.socialCube--dark:hover{
  text-decoration: none;
  color: #fff;
}
.socialCube--dark:hover .arrow_dark{
  transform: translateX(8px);
}

.socialCube--light {
  width: 172px;
  height: 172px;
  background-color: #FFE9C3;
  padding: 24px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #000;
  position: absolute;
  top: 0;
  right: -172px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.socialCube--light:hover{
  text-decoration: none;
  color: #000;
}
.socialCube--light:hover .arrow_light{
  transform: translateX(8px);
}

.contactsSection {
  width: 440px;
}

.contactTitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  font-size: 28px;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 16px;
}

.contactCopy {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #212121;
  margin-bottom: 48px;
}

.phoneBoxTitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 16px;
}

.numberBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 24px;
}

.phoneNumber {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #212121;
  margin-right: 56px;
}

.bottomLine {
  width: 100%;
  height: 72px;
  background-color: #fff;
}

.copyright {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  font-size: 14px;
  text-align: center;
  color: #000000;
  opacity: 0.2;
}
